.portfolio{
  width: 100%;
  min-height: 90vh;
  padding: 30px 8%;
  background-color: var(--body-clr);
}
/* .gallery{
  height: 100px! important;
} */
.portfolio .section-head{
  max-width: 700px;
  margin: 0px auto 25px;
  text-align: center;
}
.section-head h1{
  position: relative;
  font-size: 32px;
  margin: 10px 0px 30px;
  color: var(--primary-clr);
}
.button-group{
  text-align: center;
  margin-bottom: 40px;
}
.button-group .button{
  display: inline-block;
  background: #f2f4ff;
  border: medium none;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: capitalize;
  padding: 12px 27px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  margin: 0 14px;
  margin-bottom: 7px;
  display: inline-block;
  border-radius: 5px;
}
.button-group .button.active{
  /* background-color: var(--primary-clr);
  color: var(--body-clr); */
  color: #fff;
  background: #063868;
}
.button-group .button:hover{
  /* background-color: var(--primary-clr);
  color: var(--body-clr); */
  color: #fff;
  background: linear-gradient(to left, #2475FC, #1129B9);
}
div.gallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.gallery .item{
  position: relative;
  margin: 4px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}
div.gallery .item:hover img{
  transform: scale(1.15);
}
.item .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5,85,92,0.7);
  color: var(--body-clr);
  padding: 15px;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.item:hover .overlay{
  opacity: 1;
}
.item .overlay a{
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid var(--body-clr);
  color: var(--body-clr);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
.item .overlay a:hover{
  background-color: var(--body-clr);
  color: var(--primary-clr);
}


@media(max-width: 1024px){
  div.gallery .item{
    width: 100%;
  }
}

@media(max-width: 600px){
  div.gallery .item{
    width: 100%;
    margin: 4px 0px;
  }
}